
.colorPre{
    border-top: 2px solid #FED941;
    border-bottom: 2px solid #FED941;
    border-right: 2px solid #FED941;
}
.cell{
    border-top: 2px solid #0E3FA9;
    border-bottom: 2px solid #0E3FA9;
    border-right: 2px solid #0E3FA9;
    
}